[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.0"
gspread = "==5.8.0"
numpy = "==1.24.4"
pandas = "==2.0.3"
Werkzeug= "==2.2.2"

[dev-packages]

[requires]
python_version = "3.11"
