<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Humans of Align</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/unicons.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/"><i class='uil uil-user'></i> Humans of Align</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link"><span data-hover="About">About</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/stories" class="nav-link active"><span data-hover="Student Stories">Student Stories</span></a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="#resume" class="nav-link"><span data-hover="Resume">Resume</span></a>
                    </li> -->
                    <li class="nav-item">
                        <a href="/alignmastersprogram" class="nav-link"><span data-hover="Align Master's Program">Align Master's Program</span></a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                        <div class="color-mode d-lg-flex justify-content-center align-items-center">
                            <i class="color-mode-icon"></i>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <!-- STUDENTS -->
    <h1 class="header-text" id="header-text">Humans of Align</h1>
    <table>

        {% for i in range(index_list|length) %}
        <tr>
            {% for j in range(index_list[i]|length) %}
            <td>
                <a href="/stories/{{students_details['First Name'][index_list[i][j]] + '-' + students_details['Last Name'][index_list[i][j]]}}">
                    <img src="{{students_details['Photo'][index_list[i][j]]}}" class="img-fluid">
                </a>
                <br />
                <br />
                <a href="/stories/{{students_details['First Name'][index_list[i][j]] + '-' + students_details['Last Name'][index_list[i][j]]}}">
                    <h3>{{students_details['First Name'][index_list[i][j]] + ' ' + students_details['Last Name'][index_list[i][j]]}}</h3>
                </a>
                <p>{{students_details['Course'][index_list[i][j]]}}</p>
                <p>{{students_details['Current Position'][index_list[i][j]]}}</p>
                <h6>{{students_details['Current Company'][index_list[i][j]]}}</h6>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>

    <!-- FOOTER -->
    <footer class="footer py-5">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <p class="copyright-text">Copyright &copy; 2023 Northeastern University</p>
                    <!-- <p class="copyright-text text-center">Designed by <a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a></p> -->
                </div>

            </div>
        </div>
    </footer>

    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/Headroom.js"></script>
    <script src="../static/js/jQuery.headroom.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/smoothscroll.js"></script>
    <script src="../static/js/custom.js"></script>

</body>

</html>