<!-- <td>
                <img class="table-image" id="table-image" src="../static/images/faces/1.jpg" />
                <br />
                <br />
                <a href="individual_story.html">
                    <h5>Name</h5>
                </a>
                <p>Program, Year</p>
                <p>Current Position</p>
            </td> -->

<!-- <td>
                <img class="table-image" id="table-image" src="../static/images/faces/1.jpg" />
                <br />
                <br />
                <a href="individual_story.html">
                    <h5>Name</h5>
                </a>
                <p>Program, Year</p>
                <p>Current Position</p>
            </td> -->

<!-- <td>
                <h5>Name</h5>
                <br />
                <img class="table-image" id="table-image" src="../static/images/faces/1.jpg" />
                <br />
                <p>Program, Year</p>
                <p>Current Position</p>
            </td> -->
<!-- </tr> -->